.bgImg {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    object-fit: cover; /* Escala la imagen sin deformarla */
    z-index: -1; /* Envía la imagen al fondo */
  }

  .loginLockImg{
    color: #013154;
    font-size: 40px;
  }

  .loginBoxIco{
    color: #013154;
    font-size: 20px;
  }

  .loginTittle{
    font-size: 25px;
  }

.loginBlockContainer{
    display: grid;
    place-items: center;
    height: 100vh;
}

.loginBlock{
    padding: 0px;
    width: 100%;
    max-width: 800px;
    background-color: rgba(255, 255, 255, 0%);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    align-items: center;
    border-radius: 10px;
    overflow: hidden;
}

.loginCardLeft {
    background-color: #f5f5f5;
    padding: 20px;
    height: 450px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.loginCardRight {
    background: linear-gradient(to bottom, #005faa, #6aa9e9);
    color: white;
    padding-right: 30px;
    height: 450px;
    display: flex;
    justify-content: center;
    align-items: center;    
}

.loginCardContainer{
    width: 100%;
    padding: 0px;
    margin-top: 50px;
    margin-bottom: 50px;
}